<h1 mat-dialog-title>Agregar Comentario</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Comentario</mat-label>
    <textarea matInput [(ngModel)]="comentario.mensaje"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%;">
    <mat-label>Calificación</mat-label>
    <mat-select [(ngModel)]="selectedCal" name="cal">
      <mat-option *ngFor="let c of cals" [value]="c">
          {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button mat-raised-button color="primary" [mat-dialog-close]="data.id" (click)="guardar()">Aceptar</button>
</div>
