<div class="contenedor-principal">  
<mat-card>
    <mat-card-content>
        <h1>{{pelicula.titulo}}</h1>
        <!--span *ngFor="></span>-->
        <span *ngFor="let g of pelicula.etiquetas" class="badge badge-primary">{{g}}</span>
        <div class="contenedor">
            <mat-card class="card-container">
                <mat-card-header>
                    <mat-card-title>
                        <h4><strong>Críticas</strong></h4>
                    </mat-card-title> 
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="criticas.length > 0; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <div *ngFor="let critica of criticas">
                                <div class="contenido">
                                    <mat-card>
                                        <mat-card-content>
                                            {{critica.usuario.last_name}}, {{critica.usuario.first_name}}
                                            <p><i>{{critica.mensaje}}</i></p>
                                            <strong>Calificacion : {{critica.calificacion}} </strong> 
                                            <p>Publicado : {{critica.creado | date}}</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>
                            <mat-card>
                                <mat-card-content>
                                    La película no posee críticas.
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="contenedor">
            <mat-card class="card-container">
                <mat-card-header>
                    <mat-card-title>
                        <h4><strong>Comentarios</strong></h4>
                    </mat-card-title> 
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="comentarios.length > 0; then thenBlock2 else elseBlock2"></div>
                    <ng-template #thenBlock2>
                        <div *ngFor="let comentario of comentarios">
                            <div class="contenido">
                                <mat-card>
                                    <mat-card-content>
                                        {{comentario.usuario.last_name}}, {{comentario.usuario.first_name}}
                                        <p><i>{{comentario.mensaje}}</i></p>
                                        <strong>Calificacion : {{comentario.calificacion}} </strong> 
                                        <p>Publicado : {{comentario.creado | date}}</p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #elseBlock2>
                        <mat-card>
                            <mat-card-content>
                                La película no posee comentarios.
                            </mat-card-content>
                        </mat-card>
                    </ng-template>
                    <div class="row" style="padding-top: 1.5%;">
                        <div class="col">
                            <span class="float-right">
                                <button mat-raised-button color="primary" (click) = "openDialog()">Agregar</button>
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row">
            <div class="col">
                <span class="float-right">
                    <a href="#" [routerLink]="['/']">
                        <button mat-raised-button color="primary">Atrás</button>
                    </a>
                </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Cargando.. Por favor espere.</p>  
</ngx-spinner>  
